# Blacklist everything
*
!.gitignore
!.gitattributes

# Whilelist config files
!.gitconfig
!.vimrc
!.Xresources
!.xinitrc

!.calcurse/
# Doesn't work?
# !.calcurse/{conf,keys}
!.calcurse/conf
!.calcurse/keys

!.scripts/
!.scripts/**

!.config/
!.config/*/
!.config/i3/**
!.config/polybar/**
!.config/ranger/**
