# Blacklist everything
*
!.gitignore
!.gitattributes

# Whilelist config files
!.gitconfig
!.vimrc
!.Xresources
!.xinitrc
!.bash_profile
!.Xmodmap
!.mpdconf

!.ncmpcpp/
!.ncmpcpp/config

!.mutt/
!.mutt/muttrc

!.calcurse/
# Doesn't work?
# !.calcurse/{conf,keys}
!.calcurse/conf
!.calcurse/keys

!.irssi/
!.irssi/**

!.scripts/
!.scripts/**

!.vim/
!.vim/**
.vim/autoload/**
.vim/plugged/**

!.config/
!.config/*/
!.config/i3/**
!.config/polybar/**
!.config/ranger/**
.config/ranger/bookmarks
.config/ranger/history
!.config/neofetch/**
