# Blacklist everything
*
!.gitignore
!.gitattributes

# Whilelist config files
!.gitconfig
!.vimrc
!.Xresources
!.xinitrc

!.calcurse/
# Doesn't work?
# !.calcurse/{conf,keys}
!.calcurse/conf
!.calcurse/keys

!.irssi/
!.irssi/**

!.scripts/
!.scripts/**

!.vim/
!.vim/**

!.config/
!.config/*/
!.config/i3/**
!.config/polybar/**
!.config/ranger/**
!.config/neofetch/**
